::selection {
  background: rgba(0, 0, 0, 0.1);
}
html {
  width: 100%;
  height: 100%;
  background: #9FA7B2 no-repeat center center;
  background-size: cover;
}
h1 {
  display: block;
  width: 800px;
  height: 200px;
  line-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -400px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}
h1 span.light {
  color: #fefefe;
  text-shadow: 0px 1px 0px #c0c0c0, 0px 2px 0px #b0b0b0, 0px 3px 0px #a0a0a0, 0px 4px 0px #909090, 0px 5px 10px rgba(0, 0, 0, 0.6);
}
h1:active {
  line-height: 205px;
}
h1:active span.light {
  color: #fefefe;
  text-shadow: 0px 0px 0px #c0c0c0, 0px 0px 0px #b0b0b0, 0px 0px 0px #a0a0a0, 0px 0px 0px #909090, 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.stage {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -200px;
  width: 800px;
  height: 200px;
}
.loader {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 800px;
  height: 100px;
  overflow: hidden;
}
.domino {
  position: absolute;
  background-color: #101010;
  width: 12px;
  height: 50px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
  bottom: 0;
  right: 0;
  opacity: 1;
  transform-origin: bottom right;
}
.falling .domino {
  animation: tilt 16s linear infinite;
}
.domino:nth-of-type(1) {
  right: 0px;
}
.falling .domino:nth-of-type(1) {
  right: 0;
  animation-delay: -0.25s;
}
.domino:nth-of-type(2) {
  right: 14px;
}
.falling .domino:nth-of-type(2) {
  right: 0;
  animation-delay: -0.5s;
}
.domino:nth-of-type(3) {
  right: 28px;
}
.falling .domino:nth-of-type(3) {
  right: 0;
  animation-delay: -0.75s;
}
.domino:nth-of-type(4) {
  right: 42px;
}
.falling .domino:nth-of-type(4) {
  right: 0;
  animation-delay: -1s;
}
.domino:nth-of-type(5) {
  right: 56px;
}
.falling .domino:nth-of-type(5) {
  right: 0;
  animation-delay: -1.25s;
}
.domino:nth-of-type(6) {
  right: 70px;
}
.falling .domino:nth-of-type(6) {
  right: 0;
  animation-delay: -1.5s;
}
.domino:nth-of-type(7) {
  right: 84px;
}
.falling .domino:nth-of-type(7) {
  right: 0;
  animation-delay: -1.75s;
}
.domino:nth-of-type(8) {
  right: 98px;
}
.falling .domino:nth-of-type(8) {
  right: 0;
  animation-delay: -2s;
}
.domino:nth-of-type(9) {
  right: 112px;
}
.falling .domino:nth-of-type(9) {
  right: 0;
  animation-delay: -2.25s;
}
.domino:nth-of-type(10) {
  right: 126px;
}
.falling .domino:nth-of-type(10) {
  right: 0;
  animation-delay: -2.5s;
}
.domino:nth-of-type(11) {
  right: 140px;
}
.falling .domino:nth-of-type(11) {
  right: 0;
  animation-delay: -2.75s;
}
.domino:nth-of-type(12) {
  right: 154px;
}
.falling .domino:nth-of-type(12) {
  right: 0;
  animation-delay: -3s;
}
.domino:nth-of-type(13) {
  right: 168px;
}
.falling .domino:nth-of-type(13) {
  right: 0;
  animation-delay: -3.25s;
}
.domino:nth-of-type(14) {
  right: 182px;
}
.falling .domino:nth-of-type(14) {
  right: 0;
  animation-delay: -3.5s;
}
.domino:nth-of-type(15) {
  right: 196px;
}
.falling .domino:nth-of-type(15) {
  right: 0;
  animation-delay: -3.75s;
}
.domino:nth-of-type(16) {
  right: 210px;
}
.falling .domino:nth-of-type(16) {
  right: 0;
  animation-delay: -4s;
}
.domino:nth-of-type(17) {
  right: 224px;
}
.falling .domino:nth-of-type(17) {
  right: 0;
  animation-delay: -4.25s;
}
.domino:nth-of-type(18) {
  right: 238px;
}
.falling .domino:nth-of-type(18) {
  right: 0;
  animation-delay: -4.5s;
}
.domino:nth-of-type(19) {
  right: 252px;
}
.falling .domino:nth-of-type(19) {
  right: 0;
  animation-delay: -4.75s;
}
.domino:nth-of-type(20) {
  right: 266px;
}
.falling .domino:nth-of-type(20) {
  right: 0;
  animation-delay: -5s;
}
.domino:nth-of-type(21) {
  right: 280px;
}
.falling .domino:nth-of-type(21) {
  right: 0;
  animation-delay: -5.25s;
}
.domino:nth-of-type(22) {
  right: 294px;
}
.falling .domino:nth-of-type(22) {
  right: 0;
  animation-delay: -5.5s;
}
.domino:nth-of-type(23) {
  right: 308px;
}
.falling .domino:nth-of-type(23) {
  right: 0;
  animation-delay: -5.75s;
}
.domino:nth-of-type(24) {
  right: 322px;
}
.falling .domino:nth-of-type(24) {
  right: 0;
  animation-delay: -6s;
}
.domino:nth-of-type(25) {
  right: 336px;
}
.falling .domino:nth-of-type(25) {
  right: 0;
  animation-delay: -6.25s;
}
.domino:nth-of-type(26) {
  right: 350px;
}
.falling .domino:nth-of-type(26) {
  right: 0;
  animation-delay: -6.5s;
}
.domino:nth-of-type(27) {
  right: 364px;
}
.falling .domino:nth-of-type(27) {
  right: 0;
  animation-delay: -6.75s;
}
.domino:nth-of-type(28) {
  right: 378px;
}
.falling .domino:nth-of-type(28) {
  right: 0;
  animation-delay: -7s;
}
.domino:nth-of-type(29) {
  right: 392px;
}
.falling .domino:nth-of-type(29) {
  right: 0;
  animation-delay: -7.25s;
}
.domino:nth-of-type(30) {
  right: 406px;
}
.falling .domino:nth-of-type(30) {
  right: 0;
  animation-delay: -7.5s;
}
.domino:nth-of-type(31) {
  right: 420px;
}
.falling .domino:nth-of-type(31) {
  right: 0;
  animation-delay: -7.75s;
}
.domino:nth-of-type(32) {
  right: 434px;
}
.falling .domino:nth-of-type(32) {
  right: 0;
  animation-delay: -8s;
}
.domino:nth-of-type(33) {
  right: 448px;
}
.falling .domino:nth-of-type(33) {
  right: 0;
  animation-delay: -8.25s;
}
.domino:nth-of-type(34) {
  right: 462px;
}
.falling .domino:nth-of-type(34) {
  right: 0;
  animation-delay: -8.5s;
}
.domino:nth-of-type(35) {
  right: 476px;
}
.falling .domino:nth-of-type(35) {
  right: 0;
  animation-delay: -8.75s;
}
.domino:nth-of-type(36) {
  right: 490px;
}
.falling .domino:nth-of-type(36) {
  right: 0;
  animation-delay: -9s;
}
.domino:nth-of-type(37) {
  right: 504px;
}
.falling .domino:nth-of-type(37) {
  right: 0;
  animation-delay: -9.25s;
}
.domino:nth-of-type(38) {
  right: 518px;
}
.falling .domino:nth-of-type(38) {
  right: 0;
  animation-delay: -9.5s;
}
.domino:nth-of-type(39) {
  right: 532px;
}
.falling .domino:nth-of-type(39) {
  right: 0;
  animation-delay: -9.75s;
}
.domino:nth-of-type(40) {
  right: 546px;
}
.falling .domino:nth-of-type(40) {
  right: 0;
  animation-delay: -10s;
}
.domino:nth-of-type(41) {
  right: 560px;
}
.falling .domino:nth-of-type(41) {
  right: 0;
  animation-delay: -10.25s;
}
.domino:nth-of-type(42) {
  right: 574px;
}
.falling .domino:nth-of-type(42) {
  right: 0;
  animation-delay: -10.5s;
}
.domino:nth-of-type(43) {
  right: 588px;
}
.falling .domino:nth-of-type(43) {
  right: 0;
  animation-delay: -10.75s;
}
.domino:nth-of-type(44) {
  right: 602px;
}
.falling .domino:nth-of-type(44) {
  right: 0;
  animation-delay: -11s;
}
.domino:nth-of-type(45) {
  right: 616px;
}
.falling .domino:nth-of-type(45) {
  right: 0;
  animation-delay: -11.25s;
}
.domino:nth-of-type(46) {
  right: 630px;
}
.falling .domino:nth-of-type(46) {
  right: 0;
  animation-delay: -11.5s;
}
.domino:nth-of-type(47) {
  right: 644px;
}
.falling .domino:nth-of-type(47) {
  right: 0;
  animation-delay: -11.75s;
}
.domino:nth-of-type(48) {
  right: 658px;
}
.falling .domino:nth-of-type(48) {
  right: 0;
  animation-delay: -12s;
}
.domino:nth-of-type(49) {
  right: 672px;
}
.falling .domino:nth-of-type(49) {
  right: 0;
  animation-delay: -12.25s;
}
.domino:nth-of-type(50) {
  right: 686px;
}
.falling .domino:nth-of-type(50) {
  right: 0;
  animation-delay: -12.5s;
}
.domino:nth-of-type(51) {
  right: 700px;
}
.falling .domino:nth-of-type(51) {
  right: 0;
  animation-delay: -12.75s;
}
.domino:nth-of-type(52) {
  right: 714px;
}
.falling .domino:nth-of-type(52) {
  right: 0;
  animation-delay: -13s;
}
.domino:nth-of-type(53) {
  right: 728px;
}
.falling .domino:nth-of-type(53) {
  right: 0;
  animation-delay: -13.25s;
}
.domino:nth-of-type(54) {
  right: 742px;
}
.falling .domino:nth-of-type(54) {
  right: 0;
  animation-delay: -13.5s;
}
.domino:nth-of-type(55) {
  right: 756px;
}
.falling .domino:nth-of-type(55) {
  right: 0;
  animation-delay: -13.75s;
}
.domino:nth-of-type(56) {
  right: 770px;
}
.falling .domino:nth-of-type(56) {
  right: 0;
  animation-delay: -14s;
}
.domino:nth-of-type(57) {
  right: 784px;
}
.falling .domino:nth-of-type(57) {
  right: 0;
  animation-delay: -14.25s;
}
.domino:nth-of-type(58) {
  right: 798px;
}
.falling .domino:nth-of-type(58) {
  right: 0;
  animation-delay: -14.5s;
}
.domino:nth-of-type(59) {
  right: 812px;
}
.falling .domino:nth-of-type(59) {
  right: 0;
  animation-delay: -14.75s;
}
.domino:nth-of-type(60) {
  right: 826px;
}
.falling .domino:nth-of-type(60) {
  right: 0;
  animation-delay: -15s;
}
.domino:nth-of-type(61) {
  right: 840px;
}
.falling .domino:nth-of-type(61) {
  right: 0;
  animation-delay: -15.25s;
}
.domino:nth-of-type(62) {
  right: 854px;
}
.falling .domino:nth-of-type(62) {
  right: 0;
  animation-delay: -15.5s;
}
.domino:nth-of-type(63) {
  right: 868px;
}
.falling .domino:nth-of-type(63) {
  right: 0;
  animation-delay: -15.75s;
}
.domino:nth-of-type(64) {
  right: 882px;
}
.falling .domino:nth-of-type(64) {
  right: 0;
  animation-delay: -16s;
}
@keyframes tilt {
  0% {
    opacity: .1;
  }
  5% {
    opacity: 1;
  }
  40% {
    transform: translate(-416px) rotate(0deg);
  }
  70% {
    transform: translate(-728px) rotate(77deg);
  }
  100% {
    transform: translate(-1040px) rotate(77deg);
    opacity: 1;
  }
}
